@if (ShowForm)
{
    <div class="simple-form">
        <div class="form-group my-3">
            <label for="unit-name">@Text.TagRuleTriggerText:</label>
            <input @bind="Item.TriggerText" type="text" class="form-control" id="unit-name" placeholder="@Text.TagRuleTriggerText"/>
        </div>

        <div class="form-group my-3">
            <label >@SD.Tag:</label>
            <EditForm Model="Item">
                <InputSelect Id="list" @bind-Value="@Id" class="form-control">
                    @foreach (var item in TagList)
                    {
                        <option value="@item.Id">@item.Name (@item.WorkspaceName)</option>
                    }
                </InputSelect>
            </EditForm>
        </div>
        <div class="my-3 inputGroup">
            <input @bind="@Item.TriggerName" type="checkbox" id="TriggerName"/>
            <label for="TriggerName">@Text.TagRuleTriggerName</label>
        </div>
        <div class="my-3 inputGroup">
            <input @bind="@Item.TriggerDescription" type="checkbox" id="TriggerDescription"/>
            <label for="TriggerDescription">@Text.TagRuleTriggerDescription</label>
        </div>

        <div class="inputGroup my-3">
            <input @bind="@Item.ReplaceTrigger" type="checkbox" id="ReplaceTrigger"/>
            <label for="ReplaceTrigger">@Text.TagRuleReplaceTrigger</label>
        </div>
        <div class="text-center pt-5 mt-5">
            <button @onclick="SubmitForm" class="custom-small-button">@Text.Confirm</button>
            <button @onclick="Cancel" class="custom-small-button trash">@Text.Abort</button>
        </div>

    </div>
}
else if (ShowErrorForm)
{
    <div class="alert alert-danger" role="alert">
        @Error<br/>
        <button class="custom-small-button" @onclick="Cancel">@Text.Done</button>
    </div>
}
else if (ShowSuccessForm)
{
    <div class="alert alert-success text-center" role="alert">
        @SuccessMsg.RuleAdded <br/>
        <button class="custom-small-button" @onclick="Done">@Text.Done</button>
    </div>
}